@use "variables" as *;
@use "sass:map";


@mixin apply-text-style($style-name) {
  $style: map.get($text-styles, $style-name);

  font-family: map.get($style, font-family);
  font-weight: map.get($style, font-weight);
  font-size: map.get($style, font-size);
  line-height: map.get($style, line-height);
  letter-spacing: map.get($style, letter-spacing);
  text-transform: map.get($style, text-transform);
  color: map.get($style, color);
}